{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}

<div>
<ul id="accounts">
  <li style="display: none">{$query|escape}</li>
  {foreach from=$adminAccounts key=accountId item=accountName}
    <li>
      <a href="{$adminWebPath}account-switch.php?account_id={$accountId|escape}">{boldSearchPhrase text=$accountName search=$query}</a>
    </li>
  {/foreach}
  
  {foreach from=$otherAccounts key=groupName item=accounts}
    <li class="opt">{$groupName|escape}</li>
    {foreach from=$accounts key=accountId item=accountName}
      <li class="inopt">
        <a href="{$adminWebPath}account-switch.php?account_id={$accountId|escape}">{boldSearchPhrase text=$accountName search=$query}</a>
      </li>      
    {/foreach}
    {if isset($remainingCounts[$groupName])}
      <li class="inopt more" title="{t str=UseSearchBoxToFindMoreAccounts}">... {$remainingCounts[$groupName]|escape}</li>
    {/if}
  {/foreach}
  
  {if empty($otherAccounts) && empty($adminAccounts)}
    <li class="opt">{$noAccountsMessage|escape}</li>
  {/if}
</ul>
</div>
