{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->

<table border='0' width='100%' cellpadding='0' cellspacing='0'>
*}
<a href='adsense-link.php' accesskey=".$keyLinkUser." style="padding-right: 20px"><img src='{$assetPath|escape}/images/icon-affiliate-new.gif' border='0' align='absmiddle'>&nbsp;
Link existing AdSense account</a>

<a href='adsense-create.php' accesskey=".$keyLinkUser."><img src='{$assetPath|escape}/images/icon-affiliate-new.gif' border='0' align='absmiddle'>&nbsp;
Create new AdSense account</a>&nbsp;&nbsp;

{phpAds_ShowBreak}

  <tr>
    <td width='100%' colspan="3">


<div class="table-content">

{*
  Below are the confirmation messages for linking and creating
  an account. Display them as appropriate.
*}
{if $info == 'linked'}
<div class="infomessage">
OpenX requested Google to link OpenX to your AdSense account. Please follow
confirmation instructions that you will get by email from Google.
</div>
{elseif $info == 'created'}
<div class="infomessage">
OpenX requested Google to create an AdSense account for you. Please follow
instructions that you will get by email from Google to complete the registration.
</div>
{else}
<br />
{/if}

<table id="adsense-accounts-table" class="one-level-table" width="100%" cellspacing="0" cellpadding="0" border="0">
  <thead>
    <tr height="25">
      <td class="first" style="width: 30%">Account name</td>
      <td style="width: 30%">Affiliate Code</td>
      <td style="width: 25%">Status</td>
      <td style="width: 15%"></td>
    </tr>

    <tr class="break">
      <td colspan="5" />
    </tr>
  </thead>

  {cycle name=row values="even,odd" assign=rowType}
  {foreach from=$adsenseAccounts.aAdsenseAccounts item=account}
    {cycle name=row assign=rowType}
    <tbody class="{$rowType}">
      <tr height="25" {if $user.justModified}class="hl"{/if}>
        <td class="first"><a href="adsense-edit.php">{$account.name}</a></td>
        <td>{$account.affiliateCode}</td>
        <td>
          {if $account.status = 'pending'}
            <span class="sts-pending">Pending Google Approval</span>
          {else}
            <span class="sts-accepted">Accepted</span>
          {/if}
        </td>
        <td class="last">
          <a href="adsense-edit.php" class="edit">Edit</a>
        </td>
      </tr>

      <tr class="break">
        <td colspan="5" />
      </tr>
    </tbody>
  {/foreach}
  {/cycle}
</table>
</div>
    </td>
  </tr>
{*
</table>
*}
