{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}
{if $error!=''}
    <div class='errormessage' id='errors'>
        <img class='errormessage' src='{$assetPath|escape}/images/errormessage.gif' align='absmiddle' />
        <span class='tab-r'>The following errors were found:</span><br />
        {$error}
    </div>
{/if}

{if $notice!=''}
    <div class='errormessage' id='errors'>
        <span class='tab-r-warning'>Warning:</span><br />
        {$notice}
    </div>
{/if}

{*website form*}
{include file=form/form.html form=$form}
{*/website form*}

<script language="javascript">
<!--{literal}
    $(document).ready(function() {
        formStateStore($("#affiliateform").get(0));
        $("#affiliateform").submit(function() {
            if (max_formValidate(this)) {
              if(formStateChanged(this)) {
                $("#captcha-dialog-" + this.id).jqmShow();
              }
              else {
                return true;
              }
            }
            return false;
          });
        });
    {/literal}
    {literal}    
		$websiteURL = $("#website");
		$websiteName = $("#name");
		$websiteName.focus(function () {
			if ($.trim($websiteName.val()) == "") {
			   val = $websiteURL.val();
			   val = val.replace(/^http[s]?:\/\//, "");
			   $websiteName.val(val);
			}
		});
     {/literal}
    //-->
</script>

