{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| ==========                                                                |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}
{include file=plugin-group-switcher.html}

{if $formError && $formError.id > 0 && $formError.message}
<div class="error-box" style="margin-bottom: 10px">
        {$formError.message|escape}
      </div>
</div>
{/if}

<p class="backlink"><a href="{$backURL}">&laquo; Back to {$parent|escape}</a></p>

<div class='panel'>
   <span class='corner top-left'></span>
   <span class='corner top-right'></span>
   <span class='corner bottom-left'></span>
   <span class='corner bottom-right'></span>

   <div style="overflow: hidden;">
    <div class="split-right">
       <div class="vertical first-vertical">
        <table class="detail-table">
            <tr><th>Version</th><td>{$aPlugin.version}</td><th>Author</th><td>{$aPlugin.author}</td></tr>
            <tr><th>Creation Date</th><td>{$aPlugin.creationdate}</td><th>Email</th><td>{if {$aPlugin.authoremail}<a href="mailto:{$aPlugin.authoremail}">{/if}{$aPlugin.authoremail}{if {$aPlugin.authoremail}</a>{/if}</td></tr>
            <tr><th>License</th><td>{$aPlugin.license}</td><th>URL</th><td>{if {$aPlugin.authorurl}<a href="{$aPlugin.authorurl}">{/if}{$aPlugin.authorurl}{if {$aPlugin.authorurl}</a>{/if}</td></tr>
		</table>
	</div>
    <div class="vertical top-split">
        <table class="detail-table">
	        <tr><th>Compatible with</th><td>{$aPlugin.oxversion}</td></tr>
	        <tr><th>Extends</th><td>{$aPlugin.extends}</td></tr>
	        <tr><th>Has specific settings</th><td>{if $aPlugin.settings} yes {else} no {/if}</td></tr>
	        <tr><th>Has specific preferences</th><td>{if $aPlugin.preferences} yes {else} no {/if}</td></tr>
	    </table>
    </div>
    <div class="vertical top-split last-vertical">
	    <table class="detail-table">
	        <tr><th>Schema Name</th><td>{if $aPlugin.schema_name} {$aPlugin.schema_name} {else} -- {/if}</td></tr>
	        <tr><th>Schema Version</th><td>{if $aPlugin.schema_version} {$aPlugin.schema_version} {else} -- {/if}</td></tr>
	        <!-- tr><td colspan="2" style="padding: 0px">
	          <form name='pluginform' id='pluginform' method='post' action="plugin-index.php?checkdb={$aPlugin.name}&plugins=true&parent={$parent}">
                  <input class="checkdb" type="submit" value="Check Database" />
                </form>
	        </td>
	        </tr-->
        </table>
      </div>
    </div>

    <div class="split-left">
           <div class="item-info">
               <p><span class="name">{$aPlugin.name}</span></p>
               <p>{$aPlugin.description}</p>
           </div>
    </div>

  </div>
</div>

{if count($aPlugin.pluginGroupComponents) > 0}
    <table class="data">
      <thead>
    	<tr>
    		<td>
                Extension
    		</td>
    		<td>
                Group
    		</td>
    		<td>
                Component
    		</td>
        </tr>
      </thead>
      <tbody>
        {cycle name=bgclass values="odd,even" assign=bgClass reset=1}
        {foreach from=$aPlugin.pluginGroupComponents key=name item=aItem}
        {cycle name=bgclass assign=bgClass}
        	<tr class="{$bgClass}">
        		<td>{$aItem.extension}</td>
        		<td>{$aItem.group}</td>
        		<td>{$aItem.component}</td>
            </tr>
        {/foreach}
        </tbody>
    </table>
{/if}

{*
    {if count($aPluginDB) > 0}
        <table border='0' width='100%' cellpadding='0' cellspacing='0'>

            <tr height='1'><td colspan='7' bgcolor='#888888'><img src='images/break.gif' height='1' width='100%'></td></tr>

        {cycle name=bgcolor values="#FFFFFF,#F6F6F6" assign=bgColor reset=1}
        {foreach from=$aPluginDB key=name item=aReport}
        {cycle name=bgclass assign=bgClass}
        	<tr height='25' bgcolor="{$bgColor}">
        		<td>
                    {$name}
        		</td>
        		<td>
                    schema = {$aReport.schema}
        		</td>
        		<td>
                    dataobject = {$aReport.dataobject}
        		</td>
            </tr>
        {/foreach}
        </table>
    {/if}
>*}

