{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| ==========                                                                |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}
<div style="min-width: 750px">

    <div class='panel'>
        <span class='corner top-left'></span>
        <span class='corner top-right'></span>
        <span class='corner bottom-left'></span>
        <span class='corner bottom-right'></span>

        <div style="overflow: hidden;">

            <div class="split-left">
                <div class="item-info">
                    <p><span class="name">{$aPackage.name} uninstallation</span></p>
                    <p>{$aPackage.description}</p>
                </div>
            </div>

	    </div>
	</div>
</div>

{if $uninstallReadme}
<div class="error-box" style="margin-bottom: 10px">
    {$uninstallReadme}
</div>

{/if}

<div style="min-width: 750px">
    <br />
    <form name="packageform" id="packageform" method="post" action="plugin-index.php" enctype="multipart/form-data">
        <input name="package" value="{$aPackage.name}" type="hidden">
    	<input value="< Back" name="back" tabindex="0" type="submit">
    	<input value="Uninstall" name="uninstallConfirmed" tabindex="1" type="submit">
    </form>
</div>
