{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| ==========                                                                |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}
{include file=plugin-group-switcher.html}
<p class="backlink"><a href="{$backURL}">&laquo; Back {if $plugin} to {$plugin} {else} to list {/if}</a></p>

<div class="panel">
       <span class='corner top-left'></span>
       <span class='corner top-right'></span>
       <span class='corner bottom-left'></span>
       <span class='corner bottom-right'></span>

    <div>
        <div class="item-info">
            <span class="name">Component Group Preferences: {$group}</span>
        </div>
    </div>
</div>
