{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

--> *}

{if $aErrors}
  <div class='errormessage' id='errors'>
    <img class='errormessage' src='{$assetPath|escape}/images/errormessage.gif' align='absmiddle' />
    <span class='tab-r'>The following errors were found:</span><br />
    <ul>
        {foreach item=error from=$aErrors}
            <li>{$error} </li>
        {/foreach}
    </ul>
  </div>
{/if}

<form action="{$action}" method="{$method}">
  {include file=edit-table/hidden.html from=$hiddenFields}
  {include file=edit-table/create.html from=$fields}

  <div class="controls">
    {if $showLinkButton}
      <input value="<< {t str=Back}" type="button" {tabindex} onclick="javascript:location.href='{$backUrl}'">
      <input value="{t str=LinkUser}" class="main-submit" type="submit" {tabindex}>
      {if !$existingUser}<span class="hint">{t str=NewUserWillBeCreated}</span>{/if}
    {else}
      <input value="{t str=SaveChanges}" class="main-submit" type="submit" {tabindex}>
    {/if}
  </div>
</form>
