{*<!--

---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}

<div class='tableWrapper'>
    <div class='tableHeader'>
        <ul class='tableActions'>
            <li>
                <a href='affiliate-edit.php' class='inlineIcon iconWebsiteAdd'>{t str=AddNewAffiliate}</a>
            </li>
            <li class='inactive activeIfSelected'>
                <a id='deleteSelection' href='#' class='inlineIcon iconDelete'>{t str=Delete}</a>
                
                {literal}
                <script type='text/javascript'>
                <!--
                
                $('#deleteSelection').click(function(event) {
					event.preventDefault();
					
					if (!$(this).parents('li').hasClass('inactive')) {
						var ids = [];
						$(this).parents('.tableWrapper').find('.toggleSelection input:checked').each(function() {
							ids.push(this.value);
						});
						
						if (!tablePreferences.warningBeforeDelete || confirm("{/literal}{t str=ConfirmDeleteAffiliates}{literal}")) {
							window.location = 'affiliate-delete.php?affiliateid=' + ids.join(',');
						}
					}
                });
                
                //-->
                </script>
                {/literal}
            </li>
        </ul>

        {if !empty($topPager->links)}
        <ul class='tableFilters alignRight'>
            <li>
              <div class="pager">
                <span class="controls">{$topPager->links}</span>
              </div>
            </li>
        </ul>
        {/if}
        

        <div class='clear'></div>
        <div class='corner left'></div>
        <div class='corner right'></div>
    </div>


    <table cellspacing='0' summary=''>
        <thead>
            <tr>
              <th class='first toggleAll'>
                    <input type='checkbox' />
                </th>
                <th class='{ox_column_class item=name order=up default=1}'>
                    {ox_column_title item=name order=up default=1 str=Name url=website-index.php}
                </th>
                {if $showAdDirect}
                <th>
                    {t str=AdvertiserSignup}
                </th>
                {/if}
                <th class='last alignRight'>&nbsp;
                  
                </th>
            </tr>
        </thead>



{if !$affiliates|@count}
        <tbody>
            <tr class='odd'>
                <td colspan='{if $showAdDirect}4{else}3{/if}'>&nbsp;</td>
            </tr>
            <tr class='even'>
                <td colspan='{if $showAdDirect}4{else}3{/if}' class="hasPanel">
                    <div class='tableMessage'>
                        <div class='panel'>
                            {t str=NoAffiliates}

                            <div class='corner top-left'></div>
                            <div class='corner top-right'></div>
                            <div class='corner bottom-left'></div>
                            <div class='corner bottom-right'></div>
                        </div>
                    </div>
                    
                    &nbsp;
                </td>
            </tr>
            <tr class='odd'>
                <td colspan='{if $showAdDirect}4{else}3{/if}'>&nbsp;</td>
            </tr>
        </tbody>

{else}
        <tbody>
    {cycle name=bgcolor values="even,odd" assign=bgColor reset=1}
    {foreach key=key item=affiliate from=$from}
        {cycle name=bgcolor assign=bgColor}
            <tr class='{$bgColor}'>
              <td class='toggleSelection'>
                  <input type='checkbox' value='{$key}' />
                </td>
                <td>
                    <a href='affiliate-edit.php?affiliateid={$key}' class='inlineIcon iconWebsite'>{$affiliate.name|escape:html}</a>
                    {ox_entity_id type="Website" id=$key} 
                </td>
                {if $showAdDirect}
                <td>
                    {$affiliate.adv_signup|default:'&nbsp;'}
                </td>
                {/if}
                <td class='alignRight'>
                    <ul class='rowActions'>
                        <li>
                            <a href='zone-edit.php?affiliateid={$key}' class='inlineIcon iconZoneAdd'>{t str=AddNewZone}</a>
                        </li>
                        <li>
                          <a href='affiliate-zones.php?affiliateid={$key}' class='inlineIcon iconZones'>{t str=Zones}</a>
                        </li>
                        <li>
                            <a href='affiliate-channels.php?affiliateid={$key}' class='inlineIcon iconTargetingChannels'>{t str=Channels}</a>
                        </li>
                    </ul>
                </td>
            </tr>
    {/foreach}
       </tbody>
{/if}
{if !empty($pager->links)}
    <tbody class="tableFooter">
        <tr>
        <td  colspan="3">
              <div class="pager">
                <span class="summary">{$pager->summary}</span>
                <span class="controls">{$pager->links}</span>
              </div>
        </td>
        </tr>
    </tbody>
{/if}

    </table>
</div>
