{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                             |
| =========                             |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$
-->*}

<br/><br/>
{*zone advanced form*}
{include file=form/form.html form=$form}
{*/zone advanced form*}

<script type="text/javascript">
<!--
{literal}
 $(document).ready(function() {
   $('#chaintype-s').click(function() {
      $('#chain-zone-select').hide();
   });
   $('#chaintype-z').click(function() {
      $('#chain-zone-select').show();
   });
   $('#append-delivery-popup').click(function() {
      $('#append-interstitial').hide();
      $('#append-popup').show();
   });
   $('#append-delivery-interstitial').click(function() {
      $('#append-popup').hide();
      $('#append-interstitial').show();
   });
   
    //initial state
   if ($('#chaintype-z').attr('checked') == true) {
     $('#chain-zone-select').show();
   }
   if ($('#append-delivery-popup').attr('checked') == true) {
      $('#append-interstitial').hide();
      $('#append-popup').show();
   }
   if ($('#append-delivery-interstitial').attr('checked') == true) {
      $('#append-popup').hide();
      $('#append-interstitial').show();
   }
 });
{/literal} 
//-->
</script>
