{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                                              |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: market-confirm.html 31756 2009-02-02 09:54:46Z bernard.lange $

-->*}
<link rel='stylesheet' type='text/css' href='css/ox.market.css'>

<div class="content">
<h2 class="section">{t str='Your account has been successfully associated!'}</h2>
<p class="wide">
{t str='You may now earn more revenue by enabling your campaigns to participate in OpenX Market.'}<br>
<a href="{$adminWebPath}advertiser-index.php">{t str='Manage your campaigns'} &raquo;</a>
</p>

<p class="wide">
{t str='You may also login with your OpenX account to view and manage your OpenX Market payment information.'}<br>
<a href="market-include.php">{t str='Login to manage your payment information'} &raquo;</a>
</p>
</div>