{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                           |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: market-include.html 31111 2009-01-20 13:41:50Z bernard.lange $

-->*}
<link rel='stylesheet' type='text/css' href='css/ox.market.css'>

<div class="content">
    <iframe id="content-frame" src="{$pubconsoleURL}/{$pubconsolePageId}?{$pubconsoleAccountIdParamName}={$pubconsoleAccountId}" width="100%" height="530px" frameborder="0" marginwidth="0" marginheight="0"></iframe>
</div>

<script type="text/javascript" src="{$pubconsoleHost}/assets/pc/js/ox.pc.frame.js" ></script>
<script type="text/javascript">
<!--
{literal}
$(document).ready(function() {
  if ($.fn.updateFrameSize) {
    $("#content-frame").updateFrameSize({'msie' : 650, 'name': 'market-include'});
  }
});
{/literal}    
//-->
</script>