{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                                              |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: campaign-script.html 42387 2009-08-31 11:42:44Z stanislaw.osinski $

-->*}
  {if $content}
      {$content}
  {else}
  
    <a href="#" id="three-ways-link" class="inlineIcon icon icon-info"><b>{t str="more info"}</b></a>
    
    <div id="market-advertiser-index" class="hide">
      <div id="market-callout" class="popup-help">
        <div class="close"> <span class="link">{t str="Close"} [x]</span></div>      
          <h3>{t str="New! %s gives you more ways to make money" values=$aBranding.name}</h3>
          <p>
          {t str="%s provides ads for your sites through a real-time auction of various ad buyers" values=$aBranding.name}
          </p>
          <p class="market-advertisers">
            <img src="{$aBranding.assetPath}/market-adnetworks-horizontal-wide.gif" alt='{$aBranding.name} Advertisers' title='{$aBranding.name} Advertisers'/>
          </p>
        <div class="three-ways-container">
          <p>{t str="There are three ways to participate in %s" values=$aBranding.name}</p>
          <ul>
            <li><a href="{$adminWebPath}campaign-edit.php?clientid={$marketClientId}">
              <img src="{$aBranding.assetPath}/market-3-ways-campaign-optin.gif" alt='Create an {$aBranding.name} campaign'/></a>
            </li>
            <li><a href="{$adminPluginWebPath}/oxMarket/market-campaigns-settings.php">
              <img src="{$aBranding.assetPath}/market-3-ways-campaign-quickstart.gif" alt='Opt in an existing campaign'/></a>
            </li>
            <li><a href="affiliate-zones.php">
              <img src="{$aBranding.assetPath}/market-3-ways-zone-optin.gif" alt='Allow your zones to default to {$aBranding.name}'/></a>
            </li>
        </div>
        <p>{t str="For more information, visit our FAQ on <a href='%s' target='_blank'>how to make money with %s" values="`$aBranding.links.faq_make_money`|`$aBranding.name`"}</a>.</p>
      </div>
    </div>
  {/if}

<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/ox.market.js" ></script>
<script type="text/javascript">
{literal}
 <!--
  $(document).ready(function() {
    $('#market-advertiser-index').advertiserIndex({
{/literal}
       showInfo: {if $showMarketInfo}true{else}false{/if}
{literal}
    });            
  });
 //-->
{/literal}
</script>


