{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                                              |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: campaign-script.html 42387 2009-08-31 11:42:44Z stanislaw.osinski $

-->*}

{if $before}
<div class="market-advertiser-campaigns market-advertiser-campaigns-top">
  {if $content}
      {$content}
  {else}
  <h3>{t str="Campaigns added here will get ads directly from %s" values=$aBranding.name} <span class="link" help="help-market-campaigns"><span class="icon icon-info">&nbsp;</span></span></h3>

  <div class="hide" id="help-market-campaigns" style="height: auto; width: 355px;">
    <div class="campaigns-info-container">
      <h4>{t str="Adding campaigns for the %s Advertiser" values=$aBranding.name}</h4>                                                                                               
      <p>                                                                                                                                               
          {t str="When you add a campaign under the %s Advertiser, your campaign will get ads from %s, which holds real-time auctions for each impression. The campaign will have similar properties to a contract campaign but the ads will automatically be delivered by %s." values="`$aBranding.name`|`$aBranding.name`|`$aBranding.name`"}
      </p>
      <div class="imageContainer">
        <div class="left">
            <img src="{$aBranding.assetPath}/market-auction.gif" alt='{$aBranding.name} Auction' title='{$aBranding.name} Auction'/>
        </div>
        <div class="right">
          <img src="{$aBranding.assetPath}/market-adnetworks-horizontal.gif" alt='{$aBranding.name} Advertisers' title='{$aBranding.name} Advertisers'/>
        </div>              
      </div>
      <p>{t str="For more information, visit our FAQ on <a href='%s' target='_blank'>how to make money with %s</a>." values="`$aBranding.links.faq_make_money`|`$aBranding.name`"}</p>
    </div>
  </div>  
  {/if}
</div>
{/if}

{if $after}
<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/ox.market.js" ></script>
<script type="text/javascript">
{literal}
 <!--
  $(document).ready(function() {
    $('.market-advertiser-campaigns').advertiserCampaigns({
       showInfo: true
    });            
  });
 //-->
{/literal}
</script>{/if}


