{*<!--

+---------------------------------------------------------------------------+
| OpenX  v2.8                                            |
| =========                             |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: custom-campaign-remaining-impr.html 30820 2009-01-13 19:02:17Z andrew.hill $

-->
*}
<span class="link" help="help-market-cpm"><span class="icon icon-info">&nbsp;</span></span>
<div class="hide" id="help-market-cpm" style="height: auto; width: 270px;">
    <p>
        {t str="The minimum CPM you provide here will be the floor price %s uses for all your existing remnant campaigns." values=$elem.vars.aBranding.name}
        {t str="If the highest bid from %s exceeds your floor price, %s will serve the ad and pay you the higher revenue." values="`$elem.vars.aBranding.name`|`$elem.vars.aBranding.name`"}
        {t str="Otherwise, your campaign's existing ad will be delivered."}
    </p>
    <p>
        {t str="We recommend that you specify a CPM that represents the effective CPM that you expect to get from your remnant campaigns."}
    </p>
</div>
    

