{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                                              |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}

{if $content}
    {$content}
{else}
    <div class="content market-confirm">
      <h2 class="section">{t str="Your Ad Server is now connected to %s!" values=$aBranding.name}</h2>
      <p class="wide">
        {t str="You are now ready to maximize ad revenue through %s." values=$aBranding.name}
      </p>
      <p style="font-size:14px; font-weight:bold;">
        <a href="{$adminWebPath}advertiser-index.php">{t str="Create a new ad campaign and opt it into %s" values=$aBranding.name} &raquo;</a><br>
            {t str="or"}<br>
        <a href="market-campaigns-settings.php">{t str="Create a new ad campaign and opt it into %s" values=$aBranding.name} &raquo;</a><br>
    </div>
{/if}
    <script type="text/javascript"><!--
{literal}
      // Run register websites
      $.get('market-run-registerwebsites.php');
{/literal}
    //--></script>
{$trackerFrame}