{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                           |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}
<div class="market-campaign-edit">
  {if $right}
    {$right}
  {else}
    <div class="info-box">
      <h3>{t str="How it works"}</h3>
      <p>
      {t str="Your campaign will get its ads from %s, which holds real-time auctions for each impression." values=$aBranding.name}
      </p>
      <img src="{$aBranding.assetPath}/market-auction-vertical.gif" />
      <br />
      <img src="{$aBranding.assetPath}/market-adnetworks-vertical.gif" />
      <br />
    </div>
  {/if}
      
  <div class="market-campaign-edit-top">
    {if $top}
      {$top}
    {else}
    {if $isNew}<h3>{t str="Add a campaign to get ads directly from %s" values=$aBranding.name}</h3>{/if}
    {/if}
  </div>

{include file=$oaTemplateDir|cat:'form/general-errors.html' errors=$campaignErrors title=ErrorEditingCampaign text=UnableToChangeCampaign}

{*campaign form*}
{include file=$oaTemplateDir|cat:'form/form.html' form=$form}
{*/campaign form*}

  <div class="market-campaign-edit-bottom">
    {if $bottom}
      {$bottom}
    {/if}
  </div>
</div>

<script language='javascript' type='text/javascript' src='{$assetPath}/js/datecheck.js'></script>
<script language='javascript' type='text/javascript' src='{$adminWebPath}numberFormat.js.php?lang={$language}'></script>
<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/ox.market.js?v={$pluginVersion|escape}" ></script>
<script type="text/javascript">
<!--
{literal}
//<!--
  $(document).ready(function() {
      $("#marketcampaignform").campaignContractMarket({
{/literal}      
        impressions_delivered : {$impressionsDelivered},
        calendarBeginOfWeek : {$calendarBeginOfWeek},
{literal}
        strings : {
{/literal}        
            strCampaignWarningNoTargetMessage : '{$strCampaignWarningNoTargetMessage}'
{literal}            
        }        
      });
  });
//-->
{/literal}
//-->
</script>

