{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                           |
| ============                                                              |   
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}
<div id="market-floor-price-dialog" class="jqmWindow" style="top: auto">
  <div class="jqm-window-title">&nbsp;&nbsp;&nbsp;{t str="Your floor price may be too low"}</div>

  <div class="jqm-window-body">
    <div style="line-height: 1.8">
        {t str="To maximize revenue, we recommend against setting your campaign floor price lower than your campaign's CPM/eCPM."}<br /> 
        {t str="Would you like to keep the floor price you entered?"}
    </div>

    <div class="jqm-controls">
      <input id="market-keep-entered" type="button" value='{t str="Yes, keep the floor price I entered"}'
             class="main-submit" style="*width: auto; *overflow: visible; *padding: 2px 4px" {tabindex} />&nbsp;
      <input id="market-change-to-cpm" type="button" value='{t str="No, change to campaign&#039;s CPM/eCPM"}' {tabindex} 
             style="*width: auto; *overflow: visible; *padding: 2px 4px" /><br />
      <div style="text-align: right; margin-top: 20px">
        <label><input id="dont-show-again" class="checkbox" type="checkbox" /> {t str="Do not show this message again during my session"}</label>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
{literal}
//<!--
$(document).ready(function () {
  $("#market-floor-price-dialog").confirmFloorPriceDialog('{/literal}{$cookiePath|escape}{$_e.vars.cookiePath|escape}{literal}');
});
//-->
{/literal}
</script>
