{*<!--

+---------------------------------------------------------------------------+
| OpenX  v2.8                                            |
| =========                             |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->
*}
<span class="link" help="help-market-info"><span class="icon icon-info">&nbsp;</span></span>
<div class="hide" id="help-market-info" style="height: auto; width: 270px;">
    <p>
    {t str="%s is a free service that places ads on your site." values=$elem.vars.aBranding.name}
    {t str="For standard <a href='%s' target='_blank'>IAB sized</a> Banner, Button or Rectangle zones, you can earn more by letting %s serve ads when there are no ads available to the zone." values="`$elem.vars.adSizesPreviewUrl`|`$elem.vars.aBranding.name`"}
    {t str="To learn more, visit the <a href='%s' target='_blank'>%s FAQ</a>." values="`$elem.vars.aBranding.links.faq`|`$elem.vars.aBranding.name`"}    
</div>


    

    

