{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: sso-confirm.html 30820 2009-01-13 19:02:17Z andrew.hill $

-->

<table border='0' width='100%' cellpadding='0' cellspacing='0'>
*}


{if $errorMessage}
  <div class="errormessageicon">
    {$errorMessage}
  </div>

{else}
{*
 TODO: should we add some links here, now user is stucked on this page
*}
<div class="infomessage" id="intro" style="margin-top: 0;">
  <p>
    {t str="Welcome"} {$userName},<br />
  </p>

  <p>
   {$ssoMessage}
  </p>
  <p>
   {t str="You may now"} <a href="{$adminWebPath}logout.php">{t str="sign-in here"}</a>.
  </p>
</div>

{/if}

