{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->

<table border='0' width='100%' cellpadding='0' cellspacing='0'>
*}

<div id="sso-link-form" {if $hide}style="display: none"{/if}>
  {*
    Error message to be shown when linking failed...
  *}
  {if $errorMessage}
  <div class="errormessageicon">
    {$errorMessage}
  </div>
  {/if}

  {*
    Form to be shown where there is a matching user.
  *}
  <form id="sso-link" class="validate" action="sso-accounts.php" method='post' onsubmit='return max_formValidate(this);'>
    <input type="hidden" name="action" value="link" />
    <input type="hidden" name="email" value="{$email|escape}" />
    <input type="hidden" name="vh" value="{$vh}" />

    {include file=edit-table/create.html from=$fields}

    <div class="controls">
      <input value="Accept invitation" class="main-submit" type="submit" {tabindex}>
    </div>
  </form>

</div>

{*
</table>
*}
