/*
+---------------------------------------------------------------------------+
| Openads v2.8                                           |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$
*/
/* mplace icon */
.iconMarketLarge {
  background-image: url("../images/icon-marketplace-large.png");
}

/** hack the message to look better on market screens **/
div.messagePlaceholder {
  height: auto;
  float: left;
}

div.localMessage div.panel {
  width: 600px;
  margin-bottom: 5px;
}

/**/
p.wide {
  line-height:150%;
  margin-bottom: 2em;
}

/* quasi form */
ul.form {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.form li.line {
    clear: both;
    padding-bottom: 15px;
    overflow: hidden;
}

ul.form li.line p {
  margin: 0px 0px 6px 0px;
}

ul.form ctrl-buttons {
    margin-top: 20px;
}

/** campaignform **/
#campaignform .market-invite {
  padding-left: 30px;
  width:530px;
  line-height: 150%;
}

#campaignform .market-invite p {
    margin-top: 10px;
}

/** signup screen **/
#market-signup-form .section-header {
  font-size:14px;
  font-weight:bold;
}
#market-signup-form .type-name {
  margin-right: 20px;
}

#market-signup-form .pick-account input {
  margin-bottom: 15px;
}

#market-signup-form .header {
  margin: 10px 0px 0px 30px;
  font-weight: bold;
}

#market-signup-form #captcha-image {
  margin-top: 15px;
}

#market-signup-form .type-name em{
  font-style: italic;
}
  

/* creative types and attributes */
.checkbox-list {
    float: left;
}

#creative-attrs {
    margin-left: 30px;
}


.checkbox-list h4 {
    color: #444444; 
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

ul.column {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 155px;
    float: left;
}

ul.column li {
    margin: 0px 1px 1px 0px;
    clear: both;
}

ul.column label {
    line-height: 1.5em;
}

ul.column li input {
    margin-right: 7px;
    vertical-align: middle;
    float: left;    
}

ul.column li.accepted {
    background-color: #d0eadd;
}

ul.column li.rejected {
    background-color: #fe9797;
}

/** Mass opt-in */
#massOptIn h3 {
  display: inline;
}

#massOptIn small {
  font-size: 10px;
  color: #808080;
}

#massOptIn #mainOptions {
  line-height: 24px;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#massOptIn #mainOptions li.mainOption {
  margin: 0 0 10px 0;
  padding: 0;
}

#massOptIn #mainOptions li.mainOption label.radio {
  line-height: 1.3; 
  display: block; 
  padding-left: 20px;;
}

#massOptIn #mainOptions li.mainOption label.radio input.radio {
  vertical-align: middle;
  position: absolute; 
  margin-left: -20px;
  margin-top: 1px;
  *margin-top: -3px;
}

#massOptIn .mainOptionContent {
  margin-left: 20px;
  margin-top: 6px;
}

#massOptIn input.cpm  {
  width: 4em;
}

#massOptIn #submit {
  vertical-align: middle;
  margin-right: 3px;
} 

#massOptIn .tableWrapper td {
  vertical-align: middle;
}

#massOptIn .tableWrapper .scroll {
  overflow: auto;
  overflow-x: hidden;
  max-height: 380px;
  position: relative;
}
