{*<!--

+---------------------------------------------------------------------------+
| OpenX  v2.8                                                              |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->

<table border='0' width='100%' cellpadding='0' cellspacing='0'>
*}
    <tr>
        <td width='30'>&nbsp;</td><td width='200'><label for="country">{t str=Country}</label> / <label for="language">{t str=Language}</label></td>
        <td width='100%'>
            <select name="country"{tabindex} style="width: 15em"{if $_e.disabled} disabled="disabled"{/if}>
            {html_options options=$_e.vars.aCountries selected=$_e.vars.country}
            </select>
            <select name="language"{tabindex} style="width: 15em"{if $_e.disabled} disabled="disabled"{/if}>
            {html_options options=$_e.vars.aLanguages selected=$_e.vars.language}
            </select>
        </td>
    </tr>
{*
</table>
*}