{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                                              |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: campaign-script.html 42394 2009-08-31 12:39:24Z stanislaw.osinski $

-->*}
{* this is script which will be plugged on plugin page when added as a form element
 make sure the form element name adding this script is the same as template file without .html extension
 eg. this script should be added via 'campaign-script' name
 
 When script is included it is assigned two variables:
  - $plugin - contains plugin name, eg. 'oxMarket' 
  - $pluginWebPath - absolute url to browser visible plugin directory eg. 'http://localhost/www/admin/plugins/oxMarket'. Can be used for to create a link to plugin's js/css
  
 Also, there is a global variable available:
 - $adminPluginWebPath - absolute url to browser visible admin plugins directorory eg. 'http://localhost/www/admin/plugins' - this could be used if eg. to reference resources of another plugin
 
 *}
<script type="text/javascript" src="{$pluginWebPath}/js/ox.market.js" ></script>
<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/jquery.cookie.js" ></script>
<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/jquery.simplemodal.min.js" ></script>
<script type="text/javascript">
{literal}
 <!--
  $(document).ready(function() {
    $('#campaignform').campaignMarket({
{/literal}
            defaultFloorPrice: "{$_e.vars.defaultFloorPrice}"
            
{literal}            
    });
  });
 //-->
{/literal}
</script>
 
 