{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                                              |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: creative-preferences-table.html 38072 2009-06-16 09:47:08Z lukasz.wikierski $

-->*}

    <li class="line">
      <fieldset id="creative-types" class="checkbox-list">
        <legend>{t str='Creative Type Restrictions'}</legend>
        <ul class="column">
          {foreach from=$aCreativeTypes item=type}
              <li {if $type.checked}class="rejected"{/if}><input type="checkbox" name="types[{$type.id}]" value="{$type.id}" id="type_{$type.id}" {if $type.checked}checked{/if} /><label for="type_{$type.id}">{t str=$type.name}</label></li>
          {/foreach}
        </ul>
      </fieldset>

      <fieldset id="creative-attrs" class="checkbox-list">
      <legend>{t str='Content Attribute Restrictions'}</legend>

      {foreach from=$aCreativeAttributes item=attrList}
        <ul class="column">
          {foreach from=$attrList item=attr}
              <li {if $attr.checked}class="rejected"{/if}><input type="checkbox" name="attributes[{$attr.id}]" value="{$attr.id}" id="attribute_{$attr.id}" {if $attr.checked}checked{/if}/><label for="attribute_{$attr.id}">{t str=$attr.name}</label></li>
          {/foreach}
        </ul>
      {/foreach}
      </fieldset>
    </li>
    
    <li class="line">
      <fieldset id="ad-categories" class="checkbox-list">
      <legend>{t str='Ad Category Restrictions'}</legend>

      {foreach from=$aAdCategories item=catList}
        <ul class="column">
          {foreach from=$catList item=cat}
              <li {if $cat.checked}class="rejected"{/if}><input type="checkbox" name="categories[{$cat.id}]" value="{$cat.id}" id="category_{$cat.id}" {if $cat.checked}checked{/if}/><label for="category_{$cat.id}">{t str=$cat.name}</label></li>
          {/foreach}
        </ul>
      {/foreach}
      </fieldset>
    </li>
    

