{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                           |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: market-campaigns-settings.html 42394 2009-08-31 12:39:24Z stanislaw.osinski $

-->*}
{* Nasty hacks to get around stacking context mess and IE z-index bugs *}
<style type="text/css">{literal}
#oaNavigation { *border-bottom: none; }
#firstLevelContent { *border-top: 1px solid #D1D1D1; }
#thirdLevelContent { *z-index: 3; }
.contextContainer { *display: none; }
div.breadcrumb { z-index: 0; }
{/literal}</style>

<div class="market-campaign-settings">
  <form class="flat" id="massOptIn" action="market-campaigns-settings.php" method="POST">
    {if $topMessage}
      {$topMessage}
    {else}    
      <div class="section">
          <h2>Earn more revenue from your existing campaigns with OpenX Market</h2>
          <p>
          Select the campaigns you want to participate in OpenX Market. OpenX Market will 
          hold real-time auctions for the impressions in each selected campaign and serve 
          ads only when it can beat the campaign's floor price. 
          You do not need to retag your zones.
          <a class="pointer" help="market-cpm-callout">Learn more</a>
          </p>
      </div>
    {/if}

    <div class="mainOptionContent">
      <div class="content">
        <div class='tableWrapper'>
          <div class='tableHeader'>
            <ul class='tableFilters'>
              <li>
                <span id="loading-indicator" class="ajax-loading hide"></span>
                <div class='label'>Show</div>
        
                <div class='dropDown' style="z-index: 2"> {* Hack for IE stacking context bug *}
                  <span><span>
                    {if $campaignType == 'remnant'}
                        Remnant campaigns
                    {elseif $campaignType == 'contract'}
                        Contract campaigns
                    {else}
                        Remnant and contract campaigns
                    {/if}
                  </span></span>

                  <div class='panel'>
                    <div>
                      <ul>
                        <li><a href='market-campaigns-settings-list.php?campaignType=remnant' class="dropDownLink">Remnant campaigns</a></li>
                        <li><a href='market-campaigns-settings-list.php?campaignType=contract' class="dropDownLink">Contract campaigns</a></li>
                        <li><a href='market-campaigns-settings-list.php?campaignType=all' class="dropDownLink">Remnant and contract campaigns</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class='mask'></div>
                </div>
                
                <label class="search">Search <input id="search" type="text" name="search" value="{$search|escape}"></label>
              </li>            
            </ul>
            <ul class='tableFilters' style="margin: 10px 0">
              <li>
                <button class="left green-dot" type="submit" name="optInSubmit">
                  <span>&nbsp;</span>
                  {if $optInSubmitLabel}{$optInSubmitLabel}{else}Opt in to OpenX Market{/if} 
                </button>
                <button class="left red-dot" type="submit" name="optOutSubmit">
                  <span>&nbsp;</span>
                  {if $optOutSubmitLabel}{$optOutSubmitLabel}{else}Opt out of OpenX Market{/if} 
                </button>
              </li>
            </ul>
            <div class='clear'></div>
            <div class='corner left'></div>
            <div class='corner right'></div>
          </div>
    
          <div id="tableContent">{include file=market-campaigns-settings-list.html campaigns=$campaigns}</div>
          {include file=market-floor-price-dialog.html}
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/ox.market.js?v={$pluginVersion|escape}" ></script>
<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/jquery.cookie.js?v={$pluginVersion|escape}" ></script>
<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/jquery.typewatch.js?v={$pluginVersion|escape}" ></script>
<script type="text/javascript" src="{$adminPluginWebPath}/oxMarket/js/jquery.simplemodal.min.js?v={$pluginVersion|escape}" ></script>
<script type="text/javascript">
{literal}
//<!--
$(document).ready(function () {
    $("#massOptIn").marketOptIn();
    if ($.browser.msie) {
      $("#thirdLevelContent").each(function() {
        $(this).css('zoom', 1);
      });
    } 
});
//-->
{/literal}
</script>
{$trackerFrame}
