{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                           |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: market-info.html 40924 2009-08-04 12:30:06Z lukasz.wikierski $

-->*}

<div class="content market-info">
    {if $content}
        {$content}
    {else}
        <iframe id="welcome-frame" src="{$pubconsoleHost}/{$welcomeURL}?src={$pageUrl}" width="100%" height="{$iframeHeight}" frameborder="0" marginwidth="0" marginheight="0"></iframe>
        <form action="market-signup.php" method="get" class="welcomeForm">
          <input type="submit" value="{if $isRegistered}{$submitLabelRegistered}{else}{$submitLabel}{/if}" />
        </form>
    {/if}        
</div>

<script type="text/javascript" src="{$pubconsoleHost}/assets/pc/js/ox.pc.frame.js" ></script>
<script type="text/javascript">
<!--
{literal}
$(document).ready(function() {
{/literal}
  $("#welcome-frame").updateFrameSize({ldelim}'msie' : {$iframeHeight} + 10, 'name': 'market-include'{rdelim});
{literal}  
});
{/literal}    
//-->
</script>

{$trackerFrame}