{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: custom-user-availability-check.html 17182 2008-03-05 15:11:19Z stanislaw.osinski@openx.org $

-->

<table border='0' width='100%' cellpadding='0' cellspacing='0'>
*}
  <tr>
      <td width="30">&nbsp;</td>
      <td width="200">{$_e.label}</td>
      <td>
          <input type="text" class="flat {literal}{required:true}{/literal}" 
                 name="{$_e.name|escape}" style="width: 350px" {tabindex}
                 {if $_e.id != ''}id="{$_e.id|escape}"{/if}
                 {if $_e.title} title="{$_e.title}"{/if}
          />
          <span id="user-check-indicator" class="hide">
            <span class="available-int">Available</span><span class="unavailable-int">Not available</span><span class="checking-int">Checking...</span><span class="error-int">Server busy, try again...</span>
          </span>

          {* 
            TODO: When at some point we need to use this element at more than
            one place (currently -- SSO invitation acceptance), we may want to
            consider adding more parameters to this element, moving the
            JavaScript code from sso-create.html here and parametrizing it.
          *}
      </td>
  </tr>
{*
</table>
*}
