{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: main.html 18076 2008-03-26 14:43:49Z stanislaw.osinski@openx.org $

-->*}

{if !$_e.hidden}
{if $_e.type == 'section'}<table border='0' width='100%' cellpadding='0' cellspacing='0'>
<tr><td height='25' colspan='3'><b>{$_e.title}</b></td></tr>
<tr height='1'><td width='30'><img src='{$assetPath|escape}/images/break.gif' height='1' width='30'></td>
<td width='200'><img src='{$assetPath|escape}/images/break.gif' height='1' width='200'></td>
<td width='100%'><img src='{$assetPath|escape}/images/break.gif' height='1' width='100%'></td></tr>
<tr><td height='10' colspan='3'>&nbsp;</td></tr>
    {if $_e.errors}
    <tr><td>&nbsp;</td><td height='10' colspan='2'>
    <table cellpadding='0' cellspacing='0' border='0'><tr><td>
    <img src='{$assetPath|escape}/images/error.gif' align='absmiddle'>&nbsp;
    {foreach item=_eErr from=$_e.errors}
    <font color='#AA0000'><b>{$_eErr}</b></font><br />
    {/foreach}
    </td></tr></table></td></tr><tr><td height='10' colspan='3'>&nbsp;</td></tr>
    <tr><td><img src='{$assetPath|escape}/images/spacer.gif' height='1' width='100%'></td>
    <td colspan='2'><img src='{$assetPath|escape}/images/break-l.gif' height='1' width='200' vspace='6'></td></tr>
    {/if}
{/if}
{if $_e.type != 'section' && $_e.break}
    <tr>
        <td><img src='{$assetPath|escape}/images/spacer.gif' height='1' width='30'></td>
        <td colspan='1'><img src='{$assetPath|escape}/images/break-l.gif' height='1' width='200' vspace='6'></td><td><img src='{$assetPath|escape}/images/spacer.gif' height='1' width='100%'>
    </tr>
{/if}
{if $_e.type == 'text' || $_e.type == 'password' || !$_e.type}
    <tr>
        <td width='30'>&nbsp;</td><td width='200'><label {if $_e.id}for="{$_e.id}"{/if}>{$_e.content}</label></td>
        <td width='100%'>
        {if $_e.freezed}
            <b>{$_e.value|escape}</b>
        {else}
            <input onBlur='max_formValidateElement(this);' class="flat {if $_e.clientValid} {ldelim}{$_e.clientValid}{rdelim}{/if}" type="{$_e.type|default:'text'}"
                name="{$_e.name|escape}" value="{$_e.value|escape}"{tabindex}
                {if $_e.id != ''}id="{$_e.id|escape}"{/if}
                {if $_e.style == 'small'}size="25"{else} size="35" style="width:350px;"{/if}
                {if $_e.disabled} disabled="disabled"{/if}
                {if $_e.maxlength} maxlength="{$_e.maxlength}"{/if}
                {if $_e.title} title="{$_e.title}"{/if}>
        {/if}
        </td>
    </tr>
{/if}
{if $_e.type == 'textarea'}
    <tr>
        <td width='30'>&nbsp;</td><td width='200'>{$_e.content}</td>
        <td width='100%'>
            <textarea class='flat' cols='45' rows='6' name='{$_e.name|escape}' wrap='off' dir='ltr' style='width:350px;'{tabindex}{if $_e.disabled} disabled="disabled"{/if}>{$_e.value|escape}</textarea>
        </td>
    </tr>
{/if}
{if $_e.type == 'select'}
    <tr>
        <td width='30'>&nbsp;</td><td width='200'>{$_e.content}</td>
        <td width='100%'>
            <select name="{$_e.name|escape}"{tabindex}{if $_e.style == 'big'} style="width:350px;"{elseif $_e.style} style="{$_e.style}"{/if}{if $_e.onchange} onchange="{$_e.onchange}"{/if}{if $_e.disabled} disabled="disabled"{/if}>
            {html_options options=$_e.options selected=$_e.value}
            </select>
        </td>
    </tr>
{/if}
{if $_e.type == 'checkbox'}
    <tr>
        <td width='30'>&nbsp;</td>
        <td colspan='2'>
            {if $_e.old}<input type='hidden' name="{$_e.name|escape}_old" value="{$_e.old|escape}">{/if}
            {if $_e.indent}<img src='{$assetPath|escape}/images/indent.gif'>{/if}<input type='checkbox' name="{$_e.name|escape}"
                id="{$_e.id|default:$_e.name|escape}" value="{$_e.value|escape}"{tabindex}
                {if $_e.checked} checked="checked"{/if}
                {if $_e.disabled} disabled="disabled"{/if}
                {if $_e.onclick} onclick="{$_e.onclick|escape}"{/if}>&nbsp;<label for="{$_e.id|default:$_e.name|escape}">{$_e.content}</label>
        </td>
    </tr>
{/if}
{if $_e.type == 'custom'}
{include file='edit-table/custom-'|cat:$_e.template|cat:'.html'}
{/if}
{if $_e.type == 'section'}
{$_e.content}
    <tr>
        <td height='10' colspan='3'>&nbsp;</td>
    </tr>
    <tr height='1'><td width='30'><img src='{$assetPath|escape}/images/break.gif' height='1' width='30'></td>
        <td width='200'><img src='{$assetPath|escape}/images/break.gif' height='1' width='200'></td>
        <td width='100%'><img src='{$assetPath|escape}/images/break.gif' height='1' width='100%'></td>
    </tr>
    <tr>
        <td height='10' colspan='3'>&nbsp;</td>
    </tr>
</table>
{/if}
{/if}
