{*<!--

+---------------------------------------------------------------------------+
| OpenX  v2.8                                            |
| =========                             |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->
*}
<span class="link" help="help-capping-info"><span class="icon icon-info">&nbsp;</span></span>
<div class="hide" id="help-capping-info" style="height: auto; width: 270px;">
    <p>
        Frequency capping depends on the ability to set user cookies.  Selecting this option will allow for serving of ads to users before we know they accept cookies (such as on the first applicable page view), and also allow for unlimited exposure (no frequency capping) to very small number of users that do not accept cookies.
    </p>
</div>






