{*<!--
+---------------------------------------------------------------------------+
| OpenX v2.8                                             |
| =========                             |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}

{if $elem.type == 'text' || $elem.type == 'password' || $elem.type == 'submit' || !$elem.type}
  {if $elem.prefix}<span class="affix prefix">{$elem.prefix}</span>{/if}<input {oa_form_input_attributes elem=$elem parent=$parent} />{if $elem.suffix}<span class="affix suffix">{$elem.suffix}</span>{/if}

{elseif $elem.type == 'checkbox' || $elem.type == 'radio'}
  {if $elem.prefix}<span class="affix prefix">{$elem.prefix}</span>{/if}{$elem.html}{if $elem.suffix}<span class="affix suffix">{$elem.suffix}</span>{/if}

{elseif $elem.type == 'textarea'}
  {if $elem.prefix}<span class="affix prefix">{$elem.prefix}</span>{/if}<textarea {oa_form_input_attributes elem=$elem parent=$parent}>{$elem.value|escape}</textarea>{if $elem.suffix}<span class="affix suffix">{$elem.suffix}</span>{/if}

{elseif $elem.type == 'select'}
  {if $elem.prefix}<span class="affix prefix">{$elem.prefix}</span>{/if}<select {oa_form_input_attributes elem=$elem parent=$parent} >
  {html_options options=$elem.options selected=$elem.value}
  </select>{if $elem.suffix}<span class="affix suffix">{$elem.suffix}</span>{/if}
{elseif $elem.type == 'plugin-custom'}
    {include file=$pluginBaseDir|cat:$elem.plugin|cat:$pluginTemplateDir|cat:$elem.templateId|cat:'.html'}
{elseif $elem.type == 'script'}
    {include file=$oaTemplateDir|cat:'form/script-'|cat:$elem.name|cat:'.html'}
{elseif $elem.type == 'plugin-script'}
    {include file=$pluginBaseDir|cat:$elem.plugin|cat:$pluginTemplateDir|cat:$elem.name|cat:'.html' plugin=$elem.plugin pluginWebPath=$adminPluginWebPath|cat:'/'|cat:$elem.plugin}
{else}
  {$elem.html}
{/if}