{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                             |
| =========                             |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->
*}
<div class="messagePlaceholder messagePlaceholderForm" id="errors_{$form.id}" {if $form.errors}{else}style="display:none"{/if}>
  <div class="message localMessage">
    <div class="panel error">
      <div class="icon"></div><p>{t str=FormContainsErrors}</p>
      <div class="topleft"></div>
      <div class="topright"></div>
      <div class="bottomleft"></div>
      <div class="bottomright"></div>
    </div>
  </div>
</div>

<form {$form.attributes}>
{$form.hidden}

{foreach from=$form.elements item=nonSecElem key=ei name=_e_elements}
    {oa_form_element elem=$nonSecElem }{/oa_form_element}
{/foreach}

{foreach from=$form.sections item=sec key=i name=_e_outer}
    {if !$smarty.foreach._e_outer.first}
    {/if}
    {oa_form_element elem=$sec}
        {foreach from=$sec.elements item=element}
            {oa_form_element elem=$element }{/oa_form_element}
        {/foreach}
    {/oa_form_element}
{/foreach}
</form>

<script type="text/javascript">
<!--
{$form.JQueryMethods}

$(document).ready(function() {ldelim}
    $("#{$form.id}").initForm({ldelim}
        {$form.JQueryRules}
    {rdelim});
{rdelim});
//-->
</script>

