{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                                              |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: market-inactive.html 30405 2008-12-24 12:01:45Z bernard.lange $

-->*}

<div class="content">
<h2 class="section">{t str="We're sorry your OpenX Market Publisher account is disabled"}</h2>
<p>
{t str='Your OpenX Market Publisher account for this OpenX Ad Server has been disabled.'}
</p>
<p>
{t str='Deactivation reason:'}<br>
<b>
{if $deactivationStatusMessage}
   {$deactivationStatusMessage} {if $deactivationStatus !== '' && $deactivationStatus !== null}(code: {$deactivationStatus}){/if}
{else}
 {*TODO here goes a switch for possible agreed reasons from publisher API*}
{/if}
</b>
</p>
{if $publisherSupportEmail != ''}
  <p>
  If you think it is incorrect or have further questions please contact <a href="mailto:{$publisherSupportEmail}">{t str='OpenX Market publisher support'}</a>.
  </p>
{/if}
</div>