{*<!--

+---------------------------------------------------------------------------+
| Openads v2.8                                                              |
| ============                                                              |
|                                                                           |
| Copyright (c) 2003-2007 Openads Limited                                   |
| For contact details, see: http://www.openads.org/                         |
|                                                                           |
| Copyright (c) 2000-2003 the phpAdsNew developers                          |
| For contact details, see: http://www.phpadsnew.com/                       |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: market-confirm.html 34116 2009-03-23 10:41:43Z lukasz.wikierski $

-->*}

{if $content}
    {$content}
{else}
    <div class="content">
      <h2 class="section">Your Ad Server is now connected to OpenX Market!</h2>
      <p class="wide">
          You are now ready to maximize ad revenue through OpenX Market. Recommended next steps:
      </p>
      <ul style="margin: 0px; padding-left: 15px">
          <li style="margin-bottom: 20px;line-height: 150%;">
              <a href="{$adminWebPath}advertiser-index.php">Enable OpenX Market for your campaigns &raquo;</a>
              <div>
              Go to <b>Inventory</b> tab to create Advertisers and Campaigns. In the Add new campaign screen, 
              you will be able to let OpenX Market compete to serve ads in the campaign.
              </div>
          </li>
          
          <li style="margin-bottom: 20px;line-height: 150%;">
              <a href="market-include.php">Enter payment information &raquo;</a>
              <div>
              Go to <b>My Account > OpenX Market</b>. You will be prompted to login with your OpenX.org account.
              Enter your payment details in the Payment Information screen and OpenX will send you a payment
              once you have accrued US $100.
              </div>
          </li>
      </ul>
    </div>
{/if}

{$trackerFrame}