{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id: market-stats-zone.html 30820 2009-01-13 19:02:17Z andrew.hill $

-->*}

<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div>
                <form id='period_form' name='period_form' action='market-stats.php'>
                    <input type='hidden' name='affiliateid' value='{$affiliateid}' />
                   {$daySpan->display()}
                   <a href='#' onclick='return periodFormSubmit()'>
                       <img src='{$assetPath|escape}/images/ltr/go_blue.gif' border='0' tabindex='6' />
                   </a>
                </form>
            </div>

            <table width="100%" class="table">
                <thead>
                    <tr height="25">
                        <th height="25" width="40%">
                            <b>&nbsp;&nbsp;{oa_title_sort str=Name item=name order=up default=1 url=$url}</b>
                        </th>
                        <th height='25' width="20%" class='aright'>&nbsp;&nbsp;{oa_title_sort str=Impressions item=impressions order=down url=$url}</th>
                        <th height='25' width="13%" class='aright'>&nbsp;&nbsp;{oa_title_sort str=Revenue item=revenue order=down url=$url}</th>
                        <th height='25' width="13%" class='aright'>&nbsp;&nbsp;{oa_title_sort str=ECPM item=ecpm order=down url=$url}</th>
                    </tr>
                </thead>
                {if !$aReportData|@count}
                  <tbody class="even">
                    <tr height='25' bgcolor='#F6F6F6'>
                        <td height='25' colspan='4'>&nbsp;&nbsp;{t str=$listEmptyStr|default:"There are currently no ad size details available."}</td>
                    </tr>
                  </tbody>
                {else}
                    {cycle name=bgcolor values="odd,even" assign=bgColor reset=1}
                    {foreach key=key item=zone from=$aReportData}
                        {cycle name=bgcolor assign=bgColor}
                    <tbody class="{$bgColor}">
                        {include file='stats-zone-row.html' zone=$zone} 
                    </tbody>
                    {/foreach}
                {/if}
            </table>
        </td>
    </tr>
</table>
