{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| =========                                                                 |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}

{if $showContentFrame}
<div id="thirdLevelHeader"{if !empty($aSectionNav)} class="hasTabs"{/if}>
  {if ($headerModel && $headerModel->getTitle() != '')}
    {include file=layout/breadcrumbs-title.html}
  {/if}

    <div class='corner left'></div>
    <div class='corner right'></div>
</div>

{include file=layout/section-navigation.html}
 
<div id="thirdLevelContent">
   <div id="thirdLevelTools">
      <div id="messagePlaceholder" class='messagePlaceholder'></div>

      <ul class='contextContainer'>
          {if $helpLink}
          <li>
              <a class='buttonLink' target='_blank' href='{$helpLink|escape}'>
                  <span>{t str=Help}</span>
              </a>
          </li>
          {/if}
          {if $aTools|@count}
          <li class='alignRight'>
              {capture assign=linksTitle}{t str=Actions}{/capture}
              {include file=layout/links-container.html aLinks=$aTools title=$linksTitle cssClass=tools}
          </li>
          {/if}
          {if $aShortcuts|@count}
          <li class='alignRight'>
              {capture assign=linksTitle}{t str=Shortcuts}{/capture}
              {include file=layout/links-container.html aLinks=$aShortcuts title=$linksTitle cssClass=shortcuts}
          </li>
          {/if}
      </ul>
  </div>  
{/if}

{$breadcrumbsExtra}
