{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                             |
| =========                             |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}

<script type="text/javascript">
<!--
    var validatorPreferences = {literal}{{/literal}
        'strFieldContainsErrors': "{$strFieldContainsErrors|escape:'javascript'}",
        'strFieldFixBeforeContinue1': "{$strFieldFixBeforeContinue1|escape:'javascript'}",
        'strFieldFixBeforeContinue2': "{$strFieldFixBeforeContinue2|escape:'javascript'}",
        'strWarningMissing': "{$strWarningMissing|escape:'javascript'}",
        'strWarningMissingOpening': "{$strWarningMissingOpening|escape:'javascript'}",
        'strWarningMissingClosing': "{$strWarningMissingClosing|escape:'javascript'}",
        'strSubmitAnyway': "{$strSubmitAnyway|escape:'javascript'}",
        'thousandsSeperator': "{$thousandsSeperator}"
    };
	
	var tablePreferences = {literal}{{/literal}
		'warningBeforeDelete': {$warningBeforeDelete}
    };
//-->
</script>
{if $combineAssets}
<script type="text/javascript" src="{$assetPath}/min.php?g={$jsGroup}&amp;v={$oxpVersion}"></script>
{else}
  {foreach from=$aJsFiles item=javascript}
<script type="text/javascript" src="{$assetPath}/{$javascript}?v={$oxpVersion}"></script>
  {/foreach}
{/if}

{foreach from=$aOtherJSFiles item=javascript}
<script type="text/javascript" src="{$javascript}"></script>
{/foreach}


