{*<!--

+---------------------------------------------------------------------------+
| OpenX v2.8                                                                |
| ==========                                                                |
|                                                                           |
| Copyright (c) 2003-2009 OpenX Limited                                     |
| For contact details, see: http://www.openx.org/                           |
|                                                                           |
| This program is free software; you can redistribute it and/or modify      |
| it under the terms of the GNU General Public License as published by      |
| the Free Software Foundation; either version 2 of the License, or         |
| (at your option) any later version.                                       |
|                                                                           |
| This program is distributed in the hope that it will be useful,           |
| but WITHOUT ANY WARRANTY; without even the implied warranty of            |
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             |
| GNU General Public License for more details.                              |
|                                                                           |
| You should have received a copy of the GNU General Public License         |
| along with this program; if not, write to the Free Software               |
| Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA |
+---------------------------------------------------------------------------+
$Id$

-->*}

<br />
<form name="myPlugin" method="post" action="{$formAction|escape}">
    <input type="hidden" name="oa_cookiecheck" value="{$sessionID|escape}" />
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="100%" valign="bottom">
    {if $message}
                <div class="errormessage" style="width: 300px;text-align:center"><img class="errormessage" src="images/{$image}" align="absmiddle" />
                    <span class="tab-r">{$message}</span>
                </div>
    {else}
                <img src="../../images/break-el.gif" width="400" height="1" vspace="8" />
    {/if}
            </td>
        </tr>
    </table>
</form>
